body
{
  font-family: sans-serif;
  background: linear-gradient(#e66465, #9198e5) fixed;
  text-align: center;
  color: rgba(0, 0, 0, .5);
}

h1
{
  font-size: 7vw;
}

input
{
  background-color: rgba(0, 0, 0, .1);
  padding: 2vw 2vw 2vw 4vw;
  border: none;
  border-radius: 1000px;
  color: inherit;
  width: 80%;
  font-size: 4vw;
}

ul
{
  list-style-type: none;
  text-align: left;
  padding: 0 10%;
  font-size: 6vw;
}

li
{
  padding-bottom: 2vw;
}

::placeholder
{
  color: rgba(0, 0, 0, .3);
}